{{dsSubnav({
  sections: [{

    heading: {
      text: 'Accessibility and the law'
    },
    items: [{
      title: 'Accessibility regulations',
      link: '',
      selected: pageId == ''
    },
    {
      title: 'Accessibility regulations vs the GOV.UK Service Standard',
      link: '',
      selected: pageId == ''
    },
    {
      title: 'Accessibility regulations vs the GOV.UK Service Standard',
      link: '',
      selected: pageId == ''
    }
    ]
  }, {
    heading: {
      text: 'Guidance for your job role'
    },
    items: [{
      title: 'Business Analyst',
      link: '',
      selected: pageId == ''
    },
    {
      title: 'Content Designer',
      link: '',
      selected: pageId == ''
    },
    {
      title: 'Digital Performance Analyst',
      link: '',
      selected: pageId == ''
    }
    ]
  }
  ]
}) }}